<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"

	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
               http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
         http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
       ">
       
       <context:property-placeholder location="classpath:dbConfig.properties"/>
       <context:component-scan base-package="com.atguigu.*"></context:component-scan>
       
       
       <bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource">
	       	<property name="driverClassName" value="${driver}" />
			<property name="url" value="${url1}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
	   </bean>
	   
	    <bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource">
	       	<property name="driverClassName" value="${driver}" />
			<property name="url" value="${url2}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
	   </bean>
	   
	  <bean id="dataSource" class="com.atguigu.util.MyRoutingDataSource">
    		<property name="targetDataSources">
    			<map key-type="java.lang.String">
    				<entry key="1" value-ref="dataSource1"></entry>
    				<entry key="2" value-ref="dataSource2"></entry>
    			</map>
    		</property>
    		<property name="defaultTargetDataSource" ref="dataSource1"></property>
    	</bean>
	   
	   <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="configLocation" value="classpath:mybatis-config.xml" />
		</bean>

		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="com.atguigu.mapper" />
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean" />
		</bean>
    	
       <bean id="mypasswordCallback" class="com.atguigu.util.MyPasswordCallback"></bean>
     
	   <jaxws:endpoint address="/test" implementorClass="com.atguigu.ws.TestWsInf">
			<jaxws:implementor>
				<bean class="com.atguigu.ws.TestWsImp"></bean>
			</jaxws:implementor>
			<!-- 给服务添加安全拦截 -->
			<jaxws:inInterceptors>
				<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
					<constructor-arg>
						<map key-type="java.lang.String">
							<!-- 安全拦截类型 -->
							<entry key="action" value="UsernameToken"></entry>
							<!-- 密码(密钥)类型 :PasswordDigest、PasswordText、PasswordNone-->
							<entry key="passwordType" value="PasswordText"></entry>
							<!-- 回调函数callback 
								passwordCallbackRef(框架中配置)
								passwordCallback(java代码中使用)
								自己写代码,实现接口callback
							-->
							<entry key="passwordCallbackRef" value-ref="mypasswordCallback"></entry>
						</map>
					</constructor-arg>
				</bean>
			</jaxws:inInterceptors>
		</jaxws:endpoint>
		
		<jaxws:endpoint address="/address" implementorClass="com.atguigu.server.AddressServer">
			<jaxws:implementor>
				<bean class="com.atguigu.server.AddressServerImpl"></bean>
			</jaxws:implementor>
		</jaxws:endpoint>
		
		<jaxws:endpoint address="/user" implementorClass="com.atguigu.server.UserServer">
			<jaxws:implementor>
				<bean class="com.atguigu.server.UserServerImpl"></bean>
			</jaxws:implementor>
		</jaxws:endpoint>
		
		<jaxrs:server address="/ruser">
			<jaxrs:serviceBeans>
				<bean class="com.atguigu.server.UserServerImpl"></bean>
			</jaxrs:serviceBeans>
		</jaxrs:server>
       
</beans>